.App{
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background: #f5f6fa;
  background-blend-mode: normal;
  font-size: 175%;
  font-family: "Gill Sans", sans-serif;
}


.potravinne-tabulky {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.potravinne-tabulky-radek {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}



.kcal{
  position: absolute;
  left: 16%;
  top:7%;
  height: 20%;
  width: 20%;
  border-radius: 5px;
  background: #f5f6fa ;
  background-blend-mode: normal;
  box-shadow: 0px 2px 4px
  rgba(0,0,0,0.02);
  font-family: "Gill Sans", sans-serif;

}
.graf1{
  position: absolute;
  left: 16%;
  top:30%;
  height: 40%;
  width: 20%;
  border-radius: 5px;
  background: #ffffff;
  background-blend-mode: normal;
  box-shadow: 0px 2px 4px
  rgba(0,0,0,0.02);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  font-family: "Gill Sans", sans-serif;
  transition: .3s ease transform;

}
.graf1:hover {
  transform: scale(1.04);
}
.graf2{
  position: absolute;
  left: 37%;
  top:30%;
  height: 40%;
  width: 20%;
  border-radius: 5px;
  background: #ffffff;
  background-blend-mode: normal;
  box-shadow: 0px 2px 4px
  rgba(0,0,0,0.02);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  transition: .3s ease transform;


}
.graf2:hover {
  transform: scale(1.04);
}
.graf3{
  position: absolute;
  left: 58%;
  top:30%;
  height: 40%;
  width: 20%;
  border-radius: 5px;
  background: #ffffff;
  background-blend-mode: normal;
  box-shadow: 0px 2px 4px
  rgba(0,0,0,0.02);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  transition: .3s ease transform;


}
.graf3:hover {
  transform: scale(1.04);
}
.graf4{
  position: absolute;
  left: 79%;
  top:30%;
  height: 40%;
  width: 20%;
  border-radius: 5px;
  background: #ffffff;
  background-blend-mode: normal;
  box-shadow: 0px 2px 4px
  rgba(0,0,0,0.02);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  transition: .3s ease transform;


}
.graf4:hover {
  transform: scale(1.04);
}
.pic1{
position: absolute;
  left: 25%;
  top:25%;
  height: 50%;
  width: 50%;



}

.kcal1{
  position: absolute;
  border-radius: 6px;
  background: #eff4ff;
  background-blend-mode: normal;


}
.bilk1{
  position: absolute;
  border-radius: 6px;
  background: #f1f8ff;
  background-blend-mode: normal;

}
.sach1{
  position: absolute;
  border-radius: 6px;
  background: #fffcf1;
  background-blend-mode: normal;

}
.tuk1, .sach1, .bilk1, .kcal1{
  position: relative;
  aspect-ratio: 1 / 1;
  height: 120px;
  left: 32px;
  border-radius: 6px;
  background-blend-mode: normal;
}
.tuk1 {
  background: #fff6fa;
}

.textFrontCard {
  padding: 32px;
  text-align: right;
}

.textFrontCard > p {
  position: relative !important;
  left: 0;
  top: 0;
}



.bilk{
  position: absolute;
  left: 37%;
  top:7%;
  height: 20%;
  width: 20%;
  border-radius: 5px;
  background: #f5f6fa;
  background-blend-mode: normal;
  box-shadow: 0px 2px 4px
  rgba(0,0,0,0.02);

}
.sach {
  position: absolute;
  left: 58%;
  top:7%;
  height: 20%;
  width: 20%;
  border-radius: 5px;
  background: #f5f6fa;
  background-blend-mode: normal;
  box-shadow: 0px 2px 4px
  rgba(0,0,0,0.02);
}
.tuk{
  position: absolute;
  left: 79%;
  top:7%;
  height: 20%;
  width: 20%;
  border-radius: 5px;
  background: #f5f6fa;
  background-blend-mode: normal;
  box-shadow: 0px 2px 4px
  rgba(0,0,0,0.02);
}

.hledani{
  position: absolute;
  left: 15%;
  width: 85%;
  height: 5%;
  background: white;
}
.nabidka{
  left:0%;
  width:15%;
  height: 100%;
  background: white;
}


.novejcil {position: absolute;
  left: 2%;
  top: 25%;
  width: 11%;
  height: 6%;
  border-radius: 8px;
  color: white;
  background: #0054fe;
  background-blend-mode: normal;
  text-align: center;
  background-blend-mode: normal;
  cursor: pointer;
  transition: .3s ease transform;
  font-family: "Gill Sans", sans-serif;
  border: none;
  font-size: 100%;



}
.novejcil:hover {
  transform: scale(1.2);
}




.pc5{
  height: 7%;
  width: 3% ;
  position: absolute;
  top: 8%;
  left: 2%;
}

.kcalkalkul {
  position: absolute;
  left: 6%;
  top: 9%;
  font-family: Bahnschrift;
  font-size: 100%;
  font-weight: 300;

}
.novejcile {
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;

  top: 25%;

  color: #ffffff;
  font-family: "Gill Sans", sans-serif;


}
.domov{
  font-family: "Gill Sans", sans-serif;
  color: #74798c ;
  position: absolute;
  top: 40%;
  left: 6%;
  cursor: pointer;
}
.mojejidlo{
  font-family: "Gill Sans", sans-serif;
  color: #74798c ;
  position: absolute;
  top: 50%;
  left: 6%;
  cursor: pointer;
}

.cviky{
  font-family: "Gill Sans", sans-serif;
  color: #74798c ;
  position: absolute;
  top: 60%;
  left: 6%;
  cursor: pointer;
}
.circular-progress {
  position: relative;
  height: 225px;
  width: 225px;
  border-radius: 50%;
  display: grid;
  place-items: center;


}

.circular-progress:before {
  content: "";
  position: absolute;
  height: 84%;
  width: 84%;
  background-color: #ffffff;
  border-radius: 50%;
}
.value-container {
  position: relative;
  font-size: 140%;
  color: black;
  font-family: "Gill Sans", sans-serif;


}



.text2{position: absolute;
top: 56%;
  color: #74798c;
  font-size: 80%;
}
.circular-progress1,
.circular-progress2,
.circular-progress3{
  position: relative;
  height: 225px;
  width: 225px;
  border-radius: 50%;
  display: grid;
  place-items: center;


}

.circular-progress1:before,
.circular-progress2:before,
.circular-progress3:before{
  content: "";
  position: absolute;
  height: 84%;
  width: 84%;
  background-color: #ffffff;
  border-radius: 50%;
}
.value-container1,
.value-container2,
.value-container3{
  position: relative;
  font-size: 140%;
  color: black;
  font-family: "Gill Sans", sans-serif;


}
.text{
  font-family: "Gill Sans", sans-serif;
}

input {
  font-size: 110%;
  text-align: center;
  width: 4%;
  border: none;





}
.textkcal{
  position: absolute;
  left: 50%;
  top:25%;
  font-family: "Gill Sans", sans-serif;
  font-size: 120%;

}
.textsach{
  position: absolute;
  left: 50%;
  top:25%;
  font-family: "Gill Sans", sans-serif;
  font-size: 120%;

}
.texttuky{
  position: absolute;
  left: 50%;
  top:25%;
  font-family: "Gill Sans", sans-serif;
  font-size: 120%;

}
.textbilk{
  position: absolute;
  left: 50%;
  top:25%;
  font-family: "Gill Sans", sans-serif;
  font-size: 120%;

}
.textkcal1{
  position: absolute;
  left: 50%;
  top:50%;
  font-family: "Gill Sans", sans-serif;
  font-size: 100%;
  color: #74798c;

}
.input1{
  position: absolute;
  top: 40%;
  left: 8%;



}
.input2{
  position: absolute;
  top: 50%;
  left: 8%;
}
.input3{
  position: absolute;
  top: 60%;
  left: 8%;

}
.p1{
  position: absolute;
  top: 38%;
  color: #74798c;
  font-family: "Gill Sans", sans-serif;
  left: 3%;
}
.p2{
  position: absolute;
  top: 48%;
  color: #74798c;
  font-family: "Gill Sans", sans-serif;
  left: 3%;
}
.p3{
  position: absolute;
  top: 58%;
  color: #74798c;
  font-family: "Gill Sans", sans-serif;
  left: 3%;
}
.flip-card-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.kcal:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.bilk:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.sach:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.tuk:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 16px;
}
.flip-card-back {
  background-image: linear-gradient(white, white, white);
  color: black;
  transform: rotateY(180deg);
}
.flip-card-front {
  background-image: linear-gradient(white, white, white);
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: center;
  flex-direction: row-reverse;
  flex-wrap: nowrap;

}

.facebok{
  position: absolute;
  top: 90%;
  left: 1%;
  color: black;
}
.twitter{
  position: absolute;
  top: 90%;
  left: 5%;

}
.instagram {
  position: absolute;
  top: 90%;
  left: 9%;


}
.git{
  position: absolute;
  top: 90%;
  left: 12%;
}
.button2 .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;

}

.button1 .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;

}
.button2:hover .icon{
  background: #4267B2;
}
.button1:hover .icon{
  background: #1DA1F2;
}
.button1:hover .icon{
  background: #E1306C;
}
.button1:hover .icon{
  background: #333;
}

.button1 .button2 .Applogo{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.button1:hover .Applogo{
  color: #fff;
}
.button2:hover .Applogo{
  color: #fff;
}
.hovno {
  position: absolute;
  top: 50%;
  left: 30%;
}
.hodnota {
  position: absolute;
  top: 30%;
  left: 30%;
  color: #339AF0;
  font-family: "Gill Sans", sans-serif;
  font-size: 130%;
}
.prd {
  color: #74798c;
  font-family: "Gill Sans", sans-serif;
  font-size: 100%;
}
.input5{
  width: 33%;
left: 20%;
  font-size: 220%;
  height: 30%;
  top: 25%;
  position: absolute;


}

.pic10{
  position: fixed;
  left: 87%;
  top: 10%;
  height: 20%;

}

.text10{
  position: absolute;
  top: 70%;
  left: 20%;
  font-size: 70%;
  color: #74798c;
}
.textvaha{
top: 7%;
  left: 60%;
  position: absolute;
  font-size: 200%;


}
.tabulka {
  width: 83%;
  height: 26%;
  position: absolute;
   left: 16%;
  top:73%;
  border-radius: 5px;
  background: #ffffff;
  background-blend-mode: normal;
  box-shadow: 0px 2px 4px
rgba(0,0,0,0.02);




}

.mojetlacitko {
  margin: 10px;
  position: relative;
  z-index: 4;
}

.mojetlacitko > span {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.hledacipanel {
  width: calc(100% - 32px);
  border: 1px solid rgba(0,0,0,.1);
  transition: .2s;
  border-radius: 5px;
  text-align: left;
  padding: 12px 16px;
  font-size: 24px;
}

.hledacipanel:focus {
  outline: none;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  border-bottom: 0;
  border-radius: 5px 5px 0 0;
}
.mojetlacitko > div {
  position: absolute;
  height: 0;
  width: 100%;
  overflow: hidden;
  transition: .2s;
}
.mojetlacitko:focus-within > div {
  height: auto;
  width: 100%;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  border-radius: 0 0 5px 5px;
}

.vybranePotraviny {
  width: calc(100% - 32px);
  padding: 0 12px;
  margin: 0 4px;
  height: 240px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  z-index: 3;
}

.vybranePotraviny > table {
  font-size: 24px;
  width: 100%;
  text-align: left;
}


.mojetlacitko:focus-within > div > table > tr {
  pointer-events: all;
  display: none;
  transition: .2s;
  width: 100%;
  cursor: pointer;
  font-size: 24px;
  z-index: 6;
  background-color: white;
}

.mojetlacitko:focus-within > div > table > tr:nth-child(1),
.mojetlacitko:focus-within > div > table > tr:nth-child(2),
.mojetlacitko:focus-within > div > table > tr:nth-child(3) {
  display: table-row;
  width: 100%;
}

.mojetlacitko:focus-within > div > table > tr > * {
  width: 100%;
  padding: 8px 12px;
}

.mojetlacitko:focus-within > div > table > tr:hover {
  background-color: #ececec !important;
}


.mojetlacitko:focus-within > div > table > tr:nth-child(1),
.mojetlacitko:focus-within > div > table > tr:nth-child(3) {
  background-color: #f6f6f6;
}


@media only screen and (max-width: 1000px ) and (min-width:801px) {
  .sediva{
    background-color:  #f5f6fa;
    position: absolute;
    right: 0;
    width:70%;
    height: 140%;

  }
  .tabulka {
    top: 140%;
    left: 0;
    width: 100%;
  }
.nabidka{
  width: 30%;
}
  .kcalkalkul{
    top: 8%;
    font-size: 80%;
    left: 11%;
  }
  .pc5{
    width: 8%;
  }
  .novejcil{
    left: 3.5%;
    width: 23%;
    font-size: 80%;
  }
  .graf1{
    top: 54%;
    left: 33%;
    width: 30%;
    font-size: 80%;
  }
  .graf2{
    top: 54%;
    left: 67%;
    width: 30%;
    font-size: 80%;
  }
  .graf3{
    top: 97%;
    width: 30%;
    font-size: 80%;
    left: 33%;
  }
  .graf4{
    top: 97%;
    width: 30%;
    font-size: 80%;
    left: 67%;
  }

  .kcal{
    top: 8%;
    left: 33%;
    width: 30%;
    font-size: 80%;

  }
  .kcal1{
    width: 50%;
    height: 50%;
  }
  .sach1{
    width: 50%;
    height: 50%;
  }
  .tuk1{
    width: 50%;
    height: 50%;
  }
  .bilk1{
    width: 50%;
    height: 50%;
  }
  .bilk{
    top: 8%;
    width: 30%;
    left: 67%;
    font-size: 80%;
  }
  .tuk{
    top: 31%;
    width: 30%;
    left: 67%;
    font-size: 80%;
  }
  .sach{
    top: 31%;
    left: 33%;
    width: 30%;
    font-size: 80%;
  }
  .input1 {
    left: 4%;
    top: 60%;
    width: 20%;
  }
  .input2 {
    top: 85%;
    width: 20%;
    left: 4%;
  }
  .input3 {
    top: 110% ;
    width: 20%;
    left: 4%;
  }
  .p1 {
    left: 7%;
    top: 45%;

  }
  .p2 {
    left: 8%;
    top: 70%;
  }
  .p3 {
    left: 8%;
    top: 95%;
  }
}
@media only screen and (max-width: 800px) {
.graf1{
  position: absolute;
  left: 40%;
  top: 139%;
  width: 55%;

}
  .graf2{
    position: absolute;
    left: 40%;
    top: 183%;
    width: 55%;
  }
  .graf3{
    position: absolute;
    left: 40%;
    top: 227%;
    width: 55%;
  }
  .graf4{
    position: absolute;
    left: 40%;
    width: 55%;
    top: 271%;
  }
  .kcal{
    position: absolute; left: 40%;
    width: 55%;
    height: 30%;
    font-size: 90%;
  }
  .sach {
    position: absolute;
    left: 40%;
    width: 55%;
    height: 30%;
    top:73% ;
    font-size: 90%;

  }
  .tuk {
    position: absolute; left: 40%;
    width: 55%;
    height: 30%;
    top: 106% ;
    font-size: 90%;
  }
  .bilk{
    position: absolute; left: 40%;
    width: 55%;
    top:40% ;
    height: 30%;
    font-size: 90%;
  }
  .tabulka {
    position: absolute;
    top: 315%;
    left: 0%;
    width: 100%;

  }
  .nabidka{
    width: 35%;
  }
.sediva{
  background-color:  #f5f6fa;
  position: absolute;
  right: 0;
  width:65%;
  height: 315%;

}
.novejcil{
  left: 5%;
  width: 25%;
  font-size: 60%;
}
.pc5 {
  width: 8%;
  padding-top: 2%;
}
.kcalkalkul{
  font-size: 70%;
  padding-top: 0%;
  left: 11.5%;
}
.input1{
  left: 2%;
top: 70%;
  width: 30%;
}
  .input2{
    top: 150%;
    width: 30%;
    left: 2%;
  }
  .input3{
    top: 250%;
    width: 30%;
    left: 2%;
  }
  .p1{
    left: 8%;

  }
  .p2{

    left: 8%;
    top: 100%;
  }
  .p3{
    left: 8%;
    top: 200%;

  }
  .vybranePotraviny {
    width: calc(100% - 32px);
    padding: 0 8px;
    margin: 0 2px;
    height: 240px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    z-index: 3;
  }

  .vybranePotraviny > table {
    font-size: 15px;
    width: 100%;
    text-align: left;
  }
  .mojetlacitko:focus-within > div > table > tr {
    pointer-events: all;
    display: none;
    transition: .2s;
    width: 100%;
    cursor: pointer;
    font-size: 15px;
    z-index: 6;
    background-color: white;
  }
}

@media only screen and (max-width: 420px) {

  .vybranePotraviny > table {
    font-size: 10px;
    width: 100%;
    text-align: left;
  }
  .mojetlacitko:focus-within > div > table > tr {
    pointer-events: all;
    display: none;
    transition: .2s;
    width: 100%;
    cursor: pointer;
    font-size: 10px;
    z-index: 6;
    background-color: white;
  }

  .p1{
    left: 2%;


  }
  .p2{

    left: 4%;
    top: 90%;

  }
  .p3{
    left: 4%;
    top: 140%;

  }
  .input2{
    top: 120%;
    width: 30%;
    left: 2%;
  }
  .input3{
    top: 170%;
    width: 30%;
    left: 2%;
  }
  .kcal{
    font-size: 70%;
    height: 20%;
  }
  .tuk{
    font-size: 70%;
    height: 20%;
    top: 76%;

  }
  .bilk{
    font-size: 70%;
    height: 20%;
    top: 30%;
  }
  .sach{
    font-size: 70%;
    height: 20%;
    top: 53%;
  }
  .kcal1{
    width: 40%;
    height: 30%;
  }
  .bilk1{
    width: 40%;
    height: 30%;
  }
  .sach1{
    width: 40%;
    height: 30%;
  }
  .tuk1{
    width: 40%;
    height: 30%;
  }
  .graf1{
top: 99%;
    height: 30%;
    font-size: 70%;
  }
  .graf2{
top: 133%;
    height: 30%;
    font-size: 70%;
  }
  .graf3{
top: 166%;
    height: 30%;
    font-size: 70%;
  }
  .graf4{
top: 199%;
    height: 30%;
    font-size: 70%;
  }
  .circular-progress{
    width: 80%;
    height: 65%;
  }
  .circular-progress1{
    width: 80%;
    height: 65%;
  }
  .circular-progress2{
    width: 80%;
    height: 65%;
  }
  .circular-progress3{
    width: 80%;
    height: 65%;
  }
  .sediva{
    background-color:  #f5f6fa;
    position: absolute;
    right: 0;
    width:65%;
    height: 232%;

  }
  .pc5 {
    width: 8%;
    height: 4%;
    padding-top: 2%;
  }
  .kcalkalkul{
    font-size: 40%;
    padding-top: 0%;
    left: 11.5%;
  }
  .tabulka {
    position: absolute;
    top: 232%;
    left: 0%;
    width: 100%;

  }
}
@media only screen and (max-width: 1200px ) and (min-width:1001px) {
  .sediva{
    background-color:  #f5f6fa;
    position: absolute;
    right: 0;
    width:70%;
    height: 140%;

  }
  .tabulka {
    top: 140%;
    left: 0;
    width: 100%;
  }
  .nabidka{
    width: 30%;
  }
  .kcalkalkul{
    top: 8%;
    font-size: 80%;
    left: 11%;
  }
  .pc5{
    width: 7%;
  }
  .novejcil{
    left: 3.5%;
    width: 23%;
    font-size: 80%;
  }
  .graf1{
    top: 54%;
    left: 33%;
    width: 30%;
    font-size: 80%;
  }
  .graf2{
    top: 54%;
    left: 67%;
    width: 30%;
    font-size: 80%;
  }
  .graf3{
    top: 97%;
    width: 30%;
    font-size: 80%;
    left: 33%;
  }
  .graf4{
    top: 97%;
    width: 30%;
    font-size: 80%;
    left: 67%;
  }

  .kcal{
    top: 8%;
    left: 33%;
    width: 30%;
    font-size: 80%;

  }
  .kcal1{
    width: 30%;
    height: 50%;
  }
  .sach1{
    width: 30%;
    height: 50%;
  }
  .tuk1{
    width: 30%;
    height: 50%;
  }
  .bilk1{
    width: 30%;
    height: 50%;
  }
  .bilk{
    top: 8%;
    width: 30%;
    left: 67%;
    font-size: 80%;
  }
  .tuk{
    top: 31%;
    width: 30%;
    left: 67%;
    font-size: 80%;
  }
  .sach{
    top: 31%;
    left: 33%;
    width: 30%;
    font-size: 80%;
  }
  .input1 {
    left: 4%;
    top: 60%;
    width: 20%;
  }
  .input2 {
    top: 85%;
    width: 20%;
    left: 4%;
  }
  .input3 {
    top: 110% ;
    width: 20%;
    left: 4%;
  }
  .p1 {
    left: 9%;
    top: 45%;

  }
  .p2 {
    left: 10%;
    top: 70%;
  }
  .p3 {
    left: 10%;
    top: 95%;
  }
}
@media only screen and (max-width: 1400px ) and (min-width:1201px) {
.kcal{
  top: 7%;
  left: 23%;
  height: 15%;
  font-size: 80%;
  width: 18%;

}
  .kcal1{
    width: 50%;
    height: 55%;
  }
  .sach1{
    width: 50%;
    height: 55%;
  }
  .bilk1{
    width: 50%;
    height: 55%;
  }
  .tuk1{
    width: 50%;
    height: 55%;
  }
  .bilk{
    top: 7%;
    left: 42%;
    height: 15%;
    font-size: 80%;
    width: 18%;
  }
  .sach{
    top: 7%;
    left: 61%;
    height: 15%;
    font-size: 80%;
    width: 18%;
  }
  .tuk{
    top: 7%;
    left: 80%;
    height: 15%;
    font-size: 80%;
    width: 18%;
  }
  .graf1{
    top: 24%;
    width: 18%;
    left: 23%;
    height: 35%;
    font-size: 80%;
  }
  .graf2{
    top: 24%;
    width: 18%;
    left: 42%;
    height: 35%;
    font-size: 80%;
  }
  .graf3{
    top: 24%;
    width: 18%;
    left: 61%;
    height: 35%;
    font-size: 80%;
  }
  .graf4{
    top: 24%;
    width: 18%;
    left: 80%;
    height: 35%;
    font-size: 80%;
  }
  .nabidka{
    width: 20%;
  }
  .novejcil{
    width: 15%;
    left: 2.5%;
    font-size: 80%;
  }
  .p1 {
    left: 5.5%;
    top: 35%;

  }
  .p2 {
    left: 6%;
    top: 50%;
  }
  .p3 {
    left: 6%;
    top: 65%;
  }
  .input1{
    width: 15%;
    left: 2.5%;
    top: 45%;
  }
  .input2{
    width: 15%;
    left: 2.5%;
    top: 60%;
  }
  .input3{
    width: 15%;
    left: 2.5%;
    top: 75%;
  }
  .pc5{
    width: 5%;
    height: 6%;
    left: 1%;
  }
  .kcalkalkul{
    left: 7%;
    top: 7.5%;
    font-size: 80%;
  }
  .circular-progress {
    height: 185px;
    width: 185px;
  }
  .circular-progress1 {
    height: 185px;
    width: 185px;
  }
  .circular-progress2 {
    height: 185px;
    width: 185px;
  }
  .circular-progress3 {
    height: 185px;
    width: 185px;
  }
  .tabulka{
    top: 61%;
    width: 75%;
    left: 23%;
    height: 38%;
  }
}
@media only screen and (max-width: 1800px ) and (min-width:1401px) {
  .circular-progress3 {
    height: 200px;
    width: 200px;
  }
  .circular-progress2 {
    height: 200px;
    width: 200px;
  }
  .circular-progress1 {
    height: 200px;
    width: 200px;
  }
  .circular-progress {
    height: 200px;
    width: 200px;
  }
  .graf1{
    font-size: 90%;
    width: 18%;
    left: 22%;


  }
  .graf2{
    font-size: 90%;
    width: 18%;
    left: 42%;
  }
  .graf3{
    font-size: 90%;
    width: 18%;
    left: 62%;
  }
  .graf4{
    font-size: 90%;
    width: 18%;
    left: 82%;
  }
.kcal{
  font-size: 80%;
  width: 18%;
  left: 22%;
  height: 19%;
}
  .bilk{
    font-size: 80%;
    width: 18%;
    height: 19%;
    left: 42%;
  }
  .tuk{
    font-size: 80%;
    width: 18%;
    height: 19%;
    left: 82%;
  }
  .sach{
    font-size: 80%;
    width: 18%;
    height: 19%;
    left: 62%;
  }
  .kcal1{
    width: 40%;
    height: 50%;
  }
  .bilk1{
    width: 40%;
    height: 50%;
  }
  .tuk1{
    width: 40%;
    height: 50%;
  }
  .sach1{
    width: 40%;
    height: 50%;
  }
  .tabulka{
    height: 32%;
    top: 72%;
    left: 22%;
    width: 78%;
    font-size: 18px;

  }
  .pc5{
    height: 70px;
    width: 70px;

  }
  .kcalkalkul{
    top: 8%;
    font-size: 85%;
    left: 7.5%;
  }
  .novejcil{
    font-size: 80%;
    width: 15%;
    left: 2.5%;
  }
  .nabidka {
    width: 20%;
  }
  .p1 {
    left: 5.5%;
    top: 35%;

  }
  .p2 {
    left: 6%;
    top: 50%;
  }
  .p3 {
    left: 6%;
    top: 65%;
  }
  .input1{
    width: 15%;
    left: 2.5%;
    top: 45%;
  }
  .input2{
    width: 15%;
    left: 2.5%;
    top: 60%;
  }
  .input3{
    width: 15%;
    left: 2.5%;
    top: 75%;
  }
  .vybranePotraviny > table {
    font-size: 18px;
    width: 100%;
    text-align: left;
  }
  .hledacipanel {
    width: calc(100% - 32px);
    border: 1px solid rgba(0,0,0,.1);
    transition: .2s;
    border-radius: 5px;
    text-align: left;
    padding: 12px 16px;
    font-size: 18px;
  }
  .mojetlacitko > div {
    position: absolute;
    height: 0;
    width: 100%;
    overflow: hidden;
    transition: .2s;
  }
  .mojetlacitko:focus-within > div {
    height: auto;
    width: 100%;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-radius: 0 0 5px 5px;
  }

  .vybranePotraviny {
    width: calc(100% - 32px);
    padding: 0 12px;
    margin: 0 4px;
    height: 240px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    z-index: 3;
  }
  .sediva{
    background-color:  #f5f6fa;
    position: absolute;
    right: 0;
    width:80%;
    height: 104%;

  }
}
@media only screen and (max-width: 2300px ) and (min-width:1801px) {
  .pc5{
    width: 70px;
    height: 70px;
  }
  .kcalkalkul{
    font-size: 80%;
    top: 8.5%;
  }
  .novejcil{
    font-size: 90%;
  }
  .p1 {
    left: 4.5%;
    top: 35%;

  }
  .p2 {
    left: 5%;
    top: 50%;
  }
  .p3 {
    left: 5%;
    top: 65%;
  }
  .input1{
    width: 10%;
    left: 2.5%;
    top: 45%;
  }
  .input2{
    width: 10%;
    left: 2.5%;
    top: 60%;
  }
  .input3{
    width: 10%;
    left: 2.5%;
    top: 75%;
  }
.kcal{
  font-size: 90%;
}
  .sach{
    font-size: 90%;
  }
  .bilk{
    font-size: 90%;
  }
  .tuk{
    font-size: 90%;
  }
  .graf1{
    font-size: 90%;
  }
  .graf2{
    font-size: 90%;
  }
  .graf3{
    font-size: 90%;
  }
  .graf4{
    font-size: 90%;
  }
  .tabulka{
    height: 33%;
  }
  .sediva{
    background-color:  #f5f6fa;
    position: absolute;
    right: 0;
    width:85%;
    height: 106%;

  }
}
@media only screen and (min-width:2301px) and (max-width: 2900px) {
  .p1 {
    left: 5%;
    top: 35%;

  }
  .p2 {
    left: 5%;
    top: 50%;
  }
  .p3 {
    left: 5%;
    top: 65%;
  }
  .input1{
    width: 12%;
    left: 1.5%;
    top: 45%;
  }
  .input2{
    width: 12%;
    left: 1.5%;
    top: 60%;
  }
  .input3{
    width: 12%;
    left: 1.5%;
    top: 75%;
  }
  .kcalkalkul{
    top: 7.5%;
  }
  .tabulka{
    height: 33%;
  }
  .sediva{
    background-color:  #f5f6fa;
    position: absolute;
    right: 0;
    width:85%;
    height: 106%;

  }

}